{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h3>Mon site de Motos</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlbLlb_-XFiHSGDMkGNrHPsTtVCEGMMtWXBDf-x61JWslr2bpSFoPrE0n2ix2sb5odSIA&usqp=CAU" width="500px" height="300px" alt="" class="img-fluid text-center">
{% endblock %}
